body{
    background-color: cornflowerblue;
    text-align: center;
}

h1{
    font-size: 40pt;
}

button{    
    margin-top: 350px;
    background-color: greenyellow;
    
}

#kropp{
    background-color: rgb(150, 105, 255);
}

#tall{
    font-size: 100pt;
    
}

img{
    width:20%;
    
}

#startspill{
    
}

#wincondition{
    font-size:20pt;
    margin-left: -700px;
}

#botpoeng{
    font-size:20pt;
    margin-top: -54px;
    margin-left: 700px;
}