body{
    background-color: cornflowerblue;
    text-align: center;
}

h1{
    font-size: 70pt;
}

button{    

    background-color: greenyellow;
    
}
#knappen{
    margin-top:30px;
}
li{
    list-style-type: none;
}
#hjem{
    margin-top:20px;
}
#kropp{
    
    background-color: rgb(150, 105, 255);
}

#tall{
    font-size: 90pt;
    margin-top:-25px;
}

#demo{
    margin-top: -70px;
}
img{
    width:20%;
    margin-top: 30px;
}

.Regler{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:15pt;
    margin:20px;
}

#wincondition{
    font-size:20pt;
    margin-left: -700px;
}

#botpoeng{
    font-size:20pt;
    margin-top: -54px;
    margin-left: 700px;
}
.HTP{
    font-size: 40pt;

}
